body {
    font-family: Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}


/* Apply a background color and center the header */

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

nav {
    display: flex;
    gap: 10px; /* Espacio entre elementos en el menú de navegación */
}

/* Style the navigation links */

nav a {
    text-decoration: none;
    color: rgb(245, 154, 198);
    font-weight: bold;
    padding: 0;
    margin-right: 50px;
}


/* Style the active link */

nav a.active {
    background-color: rgb(78, 12, 44);
    border-radius: 10px;
    padding-top: 19px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    white-space: nowrap;
}

/* Estilo de Selector*/
form {
    text-align: center;
}

select {
    margin-right: 100px;
    border: none;
    width: 150px;
    font-size: 16px;
    background-color: #ffffff;
    color: rgb(245, 154, 198);
    font-weight: bold;
    outline: none;
    cursor: pointer;
}


select:hover {
    border: none;
    background-color: rgb(152, 206, 232);
}

select:focus {
    border: none;
    background-color: rgb(255, 255, 255);
}

select option {
    font-size: 16px;
}




/* Style the footer */

footer {
    position: relative;
    background-color: #5681ac;
    text-align: center;
    padding: 10px;
}


/* Style the text in the footer */

footer p {
    color: white;
}