/* Apply a background color and center the header */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    /* Set a background color for the body */
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav {
    display: flex;
    gap: 10px;
    /* Espacio entre elementos en el menú de navegación */
}


/* Style the navigation links */

nav a {
    text-decoration: none;
    color: rgb(245, 154, 198);
    font-weight: bold;
    padding: 0;
    margin-right: 100px;
}


/* Style the active link */

nav a.active {
    background-color: rgb(78, 12, 44);
    border-radius: 10px;
    padding: 10px 5px;
    white-space: nowrap;
}


/* Set the footer to a fixed position at the bottom */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #5681ac;
    text-align: center;
    padding: 10px;
}


/* Style the text in the footer */

footer p {
    color: white;
}

/* Carousel Container */

#animation-carousel {
    position: relative;
    width: 100%;
    max-width: 80%;
    /* Set your desired max width */
    margin: 0 auto;
}


/* Carousel Items */

.carousel-item {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
}

.carousel-item.active {
    display: block;
    opacity: 1;
}


/* Carousel Controls */

.carousel-prev-button,
.carousel-next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-prev-button {
    left: 0;
}

.carousel-next-button {
    right: 0;
}


/* Style the navigation buttons */

.carousel-prev-button:hover,
.carousel-next-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


/* Move the Previous button to the left side */

.carousel-prev-button {
    position: absolute;
    /*top: 50%;
    /* Center vertically */
    left: -100px;
    /* Adjust the distance from the left edge */
    transform: translateY(500%);
    /* Center vertically */
}


/* Move the Next button to the right side */

.carousel-next-button {
    position: absolute;
    top: 50%;
    /* Center vertically */
    right: -100px;
    /* Adjust the distance from the right edge */
    transform: translateY(500%);
    /* Center vertically */
}


/* Estilo de Selector*/

form {
    text-align: center;
}

select {
    margin-right: 100px;
    border: none;
    width: 150px;
    font-size: 16px;
    background-color: #ffffff;
    color: rgb(245, 154, 198);
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

select:hover {
    border: none;
    background-color: rgb(152, 206, 232);
}

select:focus {
    border: none;
    background-color: rgb(255, 255, 255);
}

select option {
    font-size: 16px;
}

#line {
    margin-top: 415px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    color: #999;
}

#video-nosotros {
    width: 50%;
    /* Adjust the width as needed */
}

.video-section {
    display: flex;
    justify-content: space-around;
    /* Adjust the spacing as needed */
    align-items: center;
    margin-top: 20px;
    /* Adjust the top margin as needed */
}

.text-section {
    flex: 1;
    padding: 20px;
}

#beneficios {
    text-align: center;
    /* Center the content inside the div */
    margin-top: 20px;
    /* Add top margin as needed */
}

#beneficios h3 {
    color: rgb(78, 12, 44);
    /* Adjust the color as needed */
}

#beneficios ul {
    list-style-type: none;
    /* Remove default list styling */
    padding: 0;
    display: flex;
    /* Use flex container */
    justify-content: space-around;
    /* Distribute items horizontally with space around */
}

#beneficios li {
    text-align: center;
    margin-bottom: 10px;
    /* Adjust the margin between list items */
    padding: 10px;
    /* Add padding for better spacing */
    border: 1px solid #999;
    /* Add borders for better visibility */
}

.shipping {
    list-style-type: none;
    /* Remove default list styling */
    padding: 0;
    display: flex;
    /* Use flex container */
    justify-content: space-around;
    /* Distribute items horizontally with space around */
}